{% extends 'admin/base.html' %}
{% block head %}
<script language="javascript" src="/site_media/js/admin.js"></script>
<script language="javascript">
    /* 
    This correctly opens the required widget being asked for 
    in the url #qualifier.Also, it uses ajax to load all the 
    tables in their proper widgets.
    */
$(document).ready( function(){
    var show=String(window.location).split('#')[1];
    if (show==null){}
    else{
        $("#admin-widget_box_"+show).slideToggle("fast");
    }

    jQuery.get("/admin/chng/incubation",
                function (data){
                    $("#admin-widget_box_incubation").html(data);
                });
    jQuery.get("/admin/chng/update",
                function (data){
                    $("#admin-widget_box_update").html(data);
                });
});
</script>
{% endblock %}
{% block admin-area %}
<div class="admin-widget_wrapper">
    <div class="admin-widget_header bg-first" id="update">Updates</div>
    <div class="admin-widget_box" id="admin-widget_box_update">
    </div>
</div>
<div class="admin-widget_wrapper">
    <div class="admin-widget_header bg-first" id="incubation">Portfolio</div>
    <div class="admin-widget_box" id="admin-widget_box_incubation">
    </div>
</div>
<!--
<div class="admin-widget_wrapper">
    <div class="admin-widget_header bg-first" id="sector">Sector</div>
    <div class="admin-widget_box" id="admin-widget_box_sector">edit updates here</div>
</div>
-->
{% endblock %}
{% block notification-area %}
<div class='msg-box {% ifequal msg_type -1 %}failure{% endifequal %}{% ifequal msg_type 0 %}neutral{% endifequal %}{% ifequal msg_type 1 %}success{% endifequal %}' id='msg-box'>
    {{ msg }}
</div>
<div class='notification-wrapper' id='editor'>
</div>
{% endblock %}
