{% extends 'admin_base.html' %}
{% block content %}
<div id=content>
    <div id=update_container class=admin_container>
        <div class=admin_heading>Updates</div>
        <div class=admin_content>
        <table class=admin_content_table cellspacing=0>
            <form action='' method=POST>
            {% for element in form%}
	        <tr><td  {% if element.errors %}class=error {% endif %}>{{ element.label_tag }}</td><td  {% if element.errors %}class=error {% endif %}>{{ element }}</td><td  {% if element.errors %}class=error {% endif %}>{{element.errors.as_text}}</td></tr>
            {% endfor %}
        </table>
        </div>
        <div class=admin_footer>
            <input type=submit value=update>
            </form>
        </div>
    </div>
</div>

{% endblock %}
