{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/site_media/js/jquery-1.3.2.min.js" ></script>
<script type="text/javascript" src="/site_media/js/tweet.js"></script>

<link rel=stylesheet href="/site_media/css/article.css">
{% endblock %}

{% block masthead %}
<div id="mast_head_wrapper" class=wrapper>
    <div id="mast_head" class=page>
        <span id="mast_heading">
        {{ heading }}
    </span>
    </div>
</div>
{% endblock %}

{% block content %}
<table cellspacing=0 cellpadding=0 border=0>
    <tr valign=top>
        <td width=300 id=sidebar>
            <ul id=sidebar-list >
                {% for sibling in siblings %}
                <li id=sidebar-item><a href="{{ sibling.get_url }}" class=side_links>{{ sibling.name }}</a></li>
                {% for child in children %}
                {% ifequal child.parent sibling %}
                <li id=sidebar-subitem><a href="{{ child.get_url }}" class=side_sub_links>{{ child.name }}</a></li>
                {% endifequal %}
                {% endfor %}
                {% endfor %}
            </ul>
        </td>
        <td id=content_area>
            {% if staff %}            
            <div style="float:right"><a id=edit_bar href="/edit/{{ url }}">Edit</a></div>
            {% endif %}
            <div id=breadcrumbs>
                <a href="/" class=crumb>Home</a> 
                {% for crumb in crumbs %}
                &gt; <a href="{{ crumb.url }}" class=crumb>{{ crumb.name }}</a> 
                {% endfor %}
            </div>
            <div id=article>
                {{ article|safe }}
            </div>
        </td>
    </tr>
</table>
{% endblock %}
