{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/site_media/js/jquery-1.3.2.min.js" ></script>
<script type="text/javascript" src="/site_media/js/tweet.js"></script>

<link rel=stylesheet href="/site_media/css/article.css">
{% endblock %}

{% block masthead %}
<div id="mast_head_wrapper" class=wrapper>
    <div id="mast_head" class=page>
        <span id="mast_heading">
        {{ heading }}
    </span>
    </div>
</div>
{% endblock %}

{% block content %}
<table cellspacing=0 cellpadding=0 border=0>
    <tr valign=top>
        <td width=300 id=sidebar>
        </td>
        <td id=content_area>
            {{ article.content|safe }}
        </td>
    </tr>
</table>
{% endblock %}
