{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/site_media/js/tweet.js"></script>

<link rel=stylesheet href="/site_media/css/home.css">
{% endblock %}

{% block masthead %}
<div id="mast_head_wrapper" class=wrapper>
    <div id="mast_head" class=page>
        &nbsp;
    </div>
</div>
{% endblock %}

{% block content %}
<br>
<table cellspacing=0 cellpadding=0 border=0>
    <tr valign=top>
        <td width=600>
            <table cellspacing=0 cellpadding=0 border=0 cols=2 width=590>
                {% for snip in snippets %}
                    {% ifequal forloop.counter 1 %}
                        <tr valign=top>
                    {% endifequal %}
                    {% ifequal forloop.counter 3 %}
                        <tr valign=top>
                    {% endifequal %}
                    <td width=295>
                        <img src="/site_media/im/{{ snip.image_filename }}">
                        <div id=home_precis_content>{{ snip.content }}</div>
                    </td>

                     {% ifequal 2 forloop.counter %}
                        </tr>
                        <tr><td colspan=2>&nbsp;</td></tr>
                    {% endifequal %}
                    {% ifequal 4 forloop.counter %}
                        </tr>
                        <tr><td colspan=2>&nbsp;</td></tr>
                    {% endifequal %}
                {% endfor %}
            </table>


        </td>
        <td>
            <div id=updates-container>
                <div id=updates-container-heading >Latest Updates</div>
                {% for update in updates %}
                    <div id=updates>
                        <div id=updates-heading ><a href="{{ update.url }}" class=foot-list-head>{{ update.description }}</a></div>
                        {{ update.content }}
                    </div>
                {% endfor %}
            </div>
        </td>
    </tr>
</table>
<br>

{% endblock %}
