{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/site_media/js/tweet.js"></script>

<link rel=stylesheet href="/site_media/css/home.css">
{% endblock %}

{% block masthead %}
<div id="mast_head_wrapper" class=wrapper>
    <div id="mast_head" class=page>
        &nbsp;
    </div>
</div>
{% endblock %}

{% block content %}
<br>
<table cellspacing=0 cellpadding=0 border=0>
    <tr valign=top>
        <td width=600>
            <table cellspacing=0 cellpadding=0 border=0 cols=2 width=590>
                <tr valign=top>
                    <td width=295>
                        <img src="/site_media/im/events_icon.png">
                        <div id=home_precis_content>We organize various events throughout the year. Mostly, these events promote the spirit of entrepreneurship in the students. They also aim at spearheading innovation.</div>
                    </td>
                    <td width=295>
                        <img src="/site_media/im/competition_icon.png">
                        <div id=home_precis_content>We organize various events throughout the year. Mostly, these events promote the spirit of entrepreneurship in the students. They also aim at spearheading innovation.</div>
                    </td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr valign=top>
                    <td>
                        <img src="/site_media/im/get_involved_icon.png">
                        <div id=home_precis_content>We organize various events throughout the year. Mostly, these events promote the spirit of entrepreneurship in the students. They also aim at spearheading innovation.</div>
                    </td>
                    <td>
                        <img src="/site_media/im/initiatives_icon.png">
                        <div id=home_precis_content>We organize various events throughout the year. Mostly, these events promote the spirit of entrepreneurship in the students. They also aim at spearheading innovation.</div>
                    </td>
                </tr>
            </table>


        </td>
        <td>
            <div id=updates-container>
                <div id=updates-container-heading >Latest Updates</div>
                {% for update in updates %}
                    <div id=updates>
                        <div id=updates-heading ><a href="{{ update.url }}" class=foot-list-head>{{ update.description }}</a></div>
                        {{ update.content }}
                    </div>
                {% endfor %}
            </div>
        </td>
    </tr>
</table>
<br>

{% endblock %}
