#content{
	color:#444444;
	font-size:11pt;
	font-family:sans;
	font-weight:none;
}
#sidebar{
	float:left;
	width:250px;
	height:500px;
	background-color:#eeeeff;
	border-right:1px solid #ccccff;
}
#content_area{
	padding:7px;
	width:635px;
    height:500px;
}
