#mast_head{
    background:url("/site_media/im/article_header.png");
    height:180px;
}   
#content{
	color:#444444;
    text-align:justify;
	font-size:11pt;
	font-family:sans;
	font-weight:none;
}
#sidebar{
	width:250px;
	background-color:#eeeeff;
	border-right:1px solid #ccccff;
}
#content_area{
	padding:7px;
    font-family:arial;
    font-size:10pt;
    width:500px;
    color:#444444;
	width:635px;
    height:500px;
}
#mast_head{
    text-align:right;
    }
#mast_heading{
    font-family:arial;
    font-weight:bold;
    float:right;
    font-size:20pt;
    color:white;
    margin-right:20px;
    position:relative;
    top:85px;
}
#edit_bar{
    font-family:arial;
    text-decoration:none;
    color:#ff9900;
    font-size:8pt;
    text-align:right;
}
