body{
	margin:0;
	background-color: #ffffff;
}
#top_nav-wrapper{
	width:100%;
    padding-top:0;
	height:64px;
}
.page{
	width:900px;
	margin:auto;
}
#top_nav{
	color:white;
}
#tabs{
    padding-top:17px;
	float:right;
}
a.topTab{
	font-family:sans;
	font-size:10pt;
	font-weight:none;
	padding-left:10px;
	color:#444444;
	text-decoration:none;
}
a.topTab:hover{
	color: #ff9900;
}
#mast_head-wrapper{
	height:364px;
}
#mast_head{
    background:url('/site_media/im/header.png');
    height:364px;
}
