#featured{
    width:350px;
    padding-right:200px;
    position:relative;
    height:250px;
    background:#fff;
    margin-top:5px; margin-bottom:5px;
    border:2px solid #cccccc;
}
#featured ul.ui-tabs-nav{
    position:absolute;
    top:0; left:350px;
    list-style:none;
    padding:0; margin:0;
    width:200px;
}
#featured ul.ui-tabs-nav li{
    padding:1px 0; padding-left:13px;
    font-size:1pt;
    color:#666;
}
#featured ul.ui-tabs-nav li span{
    font-size:10pt; font-family:arial;
    line-height:18px;
}
#featured .ui-tabs-panel{  
    width:350px; height:250px;  
    background:#999; position:relative;  
    overflow:hidden;  
}  
#featured .ui-tabs-hide{  
    display:none;  
}  
#featured li.ui-tabs-nav-item a{/*On Hover Style*/
    display:block;
    height:60px;
    color:#333;  background:#fff;
    line-height:20px;
    outline:none;
}
#featured li.ui-tabs-nav-item a:hover{
    background:#eeeeee;
}
#featured li.ui-tabs-selected{ /*Selected tab style*/
    background:url('/site_media/im/selected-item.gif') top left no-repeat;
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a{
    background:#cccccc;
    border:1px solid #999999;
}
#featured ul.ui-tabs-nav li img{
    float:left; margin:2px 5px;
    background:#fff;
    padding:2px;
    border:1px solid #eee;
}
#featured .ui-tabs-panel .info{
    position:absolute;
    top:180px; left:0;
    height:70px; width: 400px;
    background: #eeeeee url('/site_media/im/panel_transparent-bg.png');
}
#featured .info h2{
    font-size:12pt; font-family:arial;
    color:#888888; padding:5px; margin:0;
    overflow:hidden;
}
#featured .info p{
    margin:0 5px;
    font-family:arial; font-size:11px;
    line-height:15px; color:#333333;
}
#featured .info a{
    text-decoration:none;
    color:#888888;
}
#featured .info a:hover{
    text-decoration:underline;
}

#twitter_div_ws {
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 13px;
    border: 1px solid #CCCCCC;
    padding: 5px; width:300px;
    background-color:#FFF; 
    margin: 0 auto;
}
ul#twitter_update_list_ws {
    padding:0;
    margin:0; 
    list-style: none;
    display:block;
}
ul#twitter_update_list_ws li {
    list-style: none;
    min-height:50px;
    border-top: 1px solid #CCCCCC; 
    padding:5px 0px;
}
ul#twitter_update_list_ws li span {
    font-style: italic;
    display: block;
}
ul#twitter_update_list_ws .timeago {
    display:inline-block;
}
ul#twitter_update_list_ws .timeago a {
    font-size:10px;
    color: #999999;
    text-decoration: none;
}
#twitter_div_ws b a {
    font-weight: bold;
    text-decoration: none;
    text-transform:uppercase
}
#twitter_info_ws {
    border-bottom: 5px solid #CCCCCC;
    padding-bottom:10px;
    font-size: 10px;
}
#twitter_info_ws b {
    font-size: 15px; 
    line-height:30px;
}
#twitter_info_ws img {
    padding: 0 5px 0 0;
    width: 50px;
    border:0px;
}
