a.snip{
    text-decoration:none;
}
a.snip:hover{
    text-decoration:underline;
}
#mast_head{
    background:url("/site_media/im/header.png");
    height:357px;
}
#updates{
    font-family:arial;
    color:#666666;
    font-size:10pt;
}
#updates-container-heading{
    text-align:right;
    font-weight:bold;
    font-family:arial;
    font-size:10pt;
}
#updates-heading{
    font-family:arial;
    color:#555555;
    font-size:10pt;
    font-weight:bold;
}
#updates-container{
    border-left:1px dotted #777777;
    padding-left:9px;
}
#home_precis_head{
    font-family:arial;
    font-weight:bold;
    font-size:12pt;
    color:#333333;
    height:50px;
}
#home_precis_content{
    width:250px;
    font-family:arial;
    font-weight:none;
    padding-left:10px;
    text-align:justify;
    text-decoration:none;
    font-size:10pt;
    color:#333333;
}
#home_precis_content:hover{
    color:#777777;
}
